


  
  
  p
      {
        color:rgb(0, 130, 252)
        
      }
         body
      {
        background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%,
 rgba(209, 40, 175, 1) 26%, rgba(37, 232, 118, 1) 50%, 
 rgba(121, 138, 204, 0.84) 62%, rgba(214, 21, 188, 1) 83%,
  rgba(237, 221, 83, 1) 100%);
        text-align: center;
        box-shadow:10px 30px 100px yellow;
      }
      h1{
           font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
      }
      